{% extends "base.html" %}
{% block content %}
    <h1>Create Account Page</h1>
    <form method="POST">
        {{ CreateAccount.csrf_token }}
        {% if CreateAccount.csrf_token.errors %}
            <h1><strong>You have submitted an invalid CSRF token!</strong></h1>
        {% endif %}
        {{ CreateAccount.email.label }}
        {{ CreateAccount.email }}
        <br>
        {{ CreateAccount.password.label }}
        {{ CreateAccount.password }}
        <br>
        {{ CreateAccount.confirm.label }}
        {{ CreateAccount.confirm }}
        <br>
        {{ CreateAccount.submit }}
    </form>
{% endblock content %}
