
{% extends "base.html" %}

{% block content %}
    <h1>Task Creation Test Page</h1>

    <form action="{{ url_for('create_task') }}" method="POST">
        {{ form.hidden_tag() }}
        <div style="display: inline-block; min-width: 13em">
            {{ form.task_name.label }}
        </div>
        {{ form.task_name }}

        <br>

        <div style="display: inline-block; min-width: 13em">
            {{ form.required_items.label }}
        </div>
        {{ form.required_items }}

        <br>

        {{ form.main_step }}
        <br>
        {{ form.add_main_step }}
        <br><br>
        {{ form.save_as_draft }}&nbsp;
        {{ form.publish }}
    </form>
{% endblock content %}
