/*originally using Poppins Google font*/
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
/*google roboto font?? dafont (look it up)
UI darker color that (from the Jamaal file), darker hambuger and then lighter
red for the background. The top with logo and then logo to the left next to the
hambuger. */

/*redish color for navbar a5031e */
/*yellowish color for buttons f4c804 */
/*maroon ku color 550000*/

/*look at https://www.dunkindonuts.com/en/dd-perks*/

/*css for the index.html page*/
body {
    font-family: 'Roboto', sans-serif;
    /*background: #fafafa;*/
	background: #f2f2f2;
}
/*paragraph style*/
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
/*when inserted, will make dropdowns scroll*/
.force-scroll {
    height: 200px;
    overflow-y: scroll;	
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.page-header {
  text-align: center;
  vertical-align: middle;
  padding-top: 0px;
}

.card {
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16), 0 8px 15px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: fill;
}

/*To Be Continued*/

.dropdown-content{
	color: red;
}

.container{
/*background-color: silver;*/

	}

.table tbody{
	color: #33334d;
}

/*banner top of page banner*/
.jumbotron{
  /*background-color: #550000; /*this is the maroon color*/
  color: white;
  /*max-height: 200px; */
  background-color: #990000;

}

/*navbar????*/
.bg-company-red {
    background-color: white;
}

/*Button Colors*/
/*.btn {*?
	 /*background-color: #f4c804;*/
	/* background-color: #FFC300
}/*

/*end of to be continued*/

/*****End index.html**********/


/*login page*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
