{% extends 'base.html' %}
{% block content %}
<script>
         // select a row by highlighting it and unhighlighting the previously selected row
        function select_row(id,last){
            try{
                if(last==id){
                    if (document.getElementById(last).bgColor=="lightblue")
                         unselect_row(id);
                    else
                         document.getElementById(id).bgColor = "lightblue";
                }else{
                    document.getElementById(last).bgColor = "white";
                    document.getElementById(id).bgColor = "lightblue";
                    }
            }catch(err){ // last has never been set before
                document.getElementById(id).bgColor = "lightblue";
            }
        }

        // unselect a row
        function unselect_row(r){
            if (r!=0)
                document.getElementById(r).bgColor = "white";
        }

        // table sorting function
        // tbody : table body to sort
        // col : column to sort
        // asc : 1 or -1 for ascending/descending
        function sort_table(tbody, col, asc) {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++)
                    arr[i][j] = cells[j].innerHTML;
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                if(col == 0) // sorting integers require - operator to compare
                    return (a[col] == b[col]) ? 0 : asc == 1 ? (a[col] - b[col]) : (b[col] - a[col]);
                else // strings sort using the > operator
                    return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // update text within every td without altering the tags
            for (i = 0; i < rlen; i++)
                for (j = 0; j < clen; j++)
                    rows[i].cells[j].textContent = arr[i][j];
        }


        var asc1=1;
        var asc2=1;
        var asc3=1;
        var asc4=1;
        var asc5=1;
        var asc6=1;
        var asc7=1;
        var asc8=1;
        var row = 0;
        var last_row = 0;

        // these variables were to distinish which table the row is in.
        // i dont think they are necessary but they would allow different selection functionality
        /*

        var task_row = 0;
        var last_task_row = 0;

        */

</script>
<div class="jumbotron text-center">
    <h1>Administration Dashboard</h1>
</div>

<div class="container" style="font-size: 1.5em;">
    <div class="page_content">
        <!-- content goes in here, below. -->
        <!--Two tables that will be populated with surveys-->
        <div class="row">
            <div class="table-responsive col-md-12">
                <h2 class="sub-header text-center">Supervisors</h2>
                      <table class="table table-hover table-bordered" style="font-size: 1.5em;">
                        <thead id='supervisor_table_header'>
                          <tr>
                            <th onclick='sort_table(supervisor_table, 0, asc5); asc5 *= -1; asc6 =1;asc7 =1;asc8 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("supervisor_id").style.display="block"; document.getElementById("supervisor_name").style.display="none"; document.getElementById("supervisor_email").style.display="none"; document.getElementById("supervisor_date").style.display="none"; document.getElementById("supervisor_id").src=(asc5==1)?"../static/img/up.png":"../static/img/down.png"' >ID<img id="supervisor_id" style="height:1em;"></span></th>
                            <th onclick='sort_table(supervisor_table, 1, asc6); asc6 *= -1; asc5 =1;asc7 =1;asc8 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("supervisor_date").style.display="block"; document.getElementById("supervisor_name").style.display="none"; document.getElementById("supervisor_email").style.display="none"; document.getElementById("supervisor_id").style.display="none"; document.getElementById("supervisor_date").src=(asc6==1)?"../static/img/up.png":"../static/img/down.png"' >Created<img id="supervisor_date" style="height:1em;"></span></th>
                            <th onclick='sort_table(supervisor_table, 2, asc7); asc7 *= -1; asc5 =1;asc6 =1;asc8 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("supervisor_email").style.display="block"; document.getElementById("supervisor_name").style.display="none"; document.getElementById("supervisor_id").style.display="none"; document.getElementById("supervisor_date").style.display="none"; document.getElementById("supervisor_email").src=(asc7==1)?"../static/img/up.png":"../static/img/down.png"' >Name<img id="supervisor_email" style="height:1em;"></span></th>
                            <th onclick='sort_table(supervisor_table, 3, asc8); asc8 *= -1; asc5 =1;asc6 =1;asc7 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("supervisor_name").style.display="block"; document.getElementById("supervisor_email").style.display="none"; document.getElementById("supervisor_id").style.display="none";document.getElementById("supervisor_date").style.display="none"; document.getElementById("supervisorname").src=(asc8==1)?"../static/img/up.png":"../static/img/down.png"' >Email <img id="supervisor_name" style="height:1em;"></span></th>
                          </tr>
                        </thead>
                        <tbody id='supervisor_table'>
                        {% for s in supervisor_list %} 
                          <tr id='supervisor_{{s.supervisorID}}' >
                            <td onclick='last_row=(row==0)?"supervisor_{{s.supervisorID}}":row; row="supervisor_{{s.supervisorID}}"; select_row(row,last_row);'>{{s.supervisorID}}</td>
                            <td onclick='last_row=(row==0)?"supervisor_{{s.supervisorID}}":row; row="supervisor_{{s.supervisorID}}"; select_row(row,last_row);'>{{s.dateCreated}}</td>
                            <td onclick='last_row=(row==0)?"supervisor_{{s.supervisorID}}":row; row="supervisor_{{s.supervisorID}}"; select_row(row,last_row);'>{{s.fname}} {{s.lname}}</td>
                            <td onclick='last_row=(row==0)?"supervisor_{{s.supervisorID}}":row; row="supervisor_{{s.supervisorID}}"; select_row(row,last_row);'>{{s.email}}</td>
                          </tr> 
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="table-responsive col-md-12">
                <h2 class="sub-header text-center">Users</h2>
                      <table class="table table-hover table-bordered" style="font-size: 1.5em;">
                        <thead id='user_table_header'>
                          <tr>
                            <th onclick='sort_table(user_table, 0, asc1); asc1 *= -1; asc2 =1;asc3 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_id").style.display="block"; document.getElementById("user_name").style.display="none"; document.getElementById("user_email").style.display="none"; document.getElementById("user_date").style.display="none"; document.getElementById("user_id").src=(asc1==1)?"../static/img/up.png":"../static/img/down.png"' >ID <img id="user_id" style="height:1em;"></span></th>
                            <th onclick='sort_table(user_table, 1, asc2); asc2 *= -1; asc1 =1;asc3 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_date").style.display="block"; document.getElementById("user_name").style.display="none"; document.getElementById("user_email").style.display="none"; document.getElementById("user_id").style.display="none"; document.getElementById("user_date").src=(asc2==1)?"../static/img/up.png":"../static/img/down.png"' >Created<img id="user_date" style="height:1em;"></span></th>
                            <th onclick='sort_table(user_table, 2, asc3); asc3 *= -1; asc1 =1;asc2 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_email").style.display="block"; document.getElementById("user_name").style.display="none"; document.getElementById("user_id").style.display="none"; document.getElementById("user_date").style.display="none"; document.getElementById("user_email").src=(asc3==1)?"../static/img/up.png":"../static/img/down.png"' >Name<img id="user_email" style="height:1em;"></span></th>
                            <th onclick='sort_table(user_table, 3, asc4); asc4 *= -1; asc1 =1;asc2 =1;asc3 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_name").style.display="block"; document.getElementById("user_email").style.display="none"; document.getElementById("user_id").style.display="none";document.getElementById("user_date").style.display="none"; document.getElementById("user_name").src=(asc4==1)?"../static/img/up.png":"../static/img/down.png"' >Email<img id="user_name" style="height:1em;"></span></th>
                          </tr>
                        </thead>
                        <tbody id='user_table'>
                        {% for u in user_list %} 
                          <tr id='user_{{u.userID}}' >
                            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.userID}}</td>
                            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.dateCreated}}</td>
                            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.fname}} {{u.lname}}</td>
                            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.email}}</td>
                          </tr> 
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>








 <!-- content goes here, above. -->

    </div><!-- end of page content -->
</div><!-- /. end of container -->


{% endblock content %}
