{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Administration Dashboard</h1>
</div>

<div class="container">
    <div class="page_content">
        <!-- content goes in here, below. -->
        <!--Two tables that will be populated with surveys-->
        <div class="row">
            <div class="table-responsive col-md-6">
                <h2 class="sub-header text-center">Supervisors</h2>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>User ID</th>
                        <th>Date Assigned</th>
                        <th>Email</th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td>mary@example.com</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td>july@example.com</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-md-6">
                <h2 class="sub-header text-center">Users</h2>
                <table class="table table-hover">
                    <thead>
                        <!--need to put a create button here -->
                      <tr>
                        <th>Task ID</th>
                        <th>Date Assigned</th>
                        <th>Description</th>
                        <th>Progress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td>john@example.com</td>
                      </tr>

                    </tbody>
                </table>
            </div>
        </div>








 <!-- content goes here, above. -->

    </div><!-- end of page content -->
</div><!-- /. end of container -->


{% endblock content %}
