{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Create Supervisor</h1>
</div>

<div class="container">
  <div class="page_content">

  <!-- content goes in here, below. -->

<!--<div class= "text-center">-->


<!-- Create Supervisor Account -->
<form method="POST">
    {{ CreateAccount.csrf_token }}
    {{ CreateAccount.email.label (style="font-size: 1.5em;")}}
    {{ CreateAccount.email }}
    <br>
    {{ CreateAccount.password.label (style="font-size: 1.5em;")}}
    {{ CreateAccount.password }}
    <br>
    {{ CreateAccount.confirm.label (style="font-size: 1.5em;")}}
    {{ CreateAccount.confirm }}
    <br>
    {{ CreateAccount.is_supervisor.label(style="font-size: 1.5em;")}}
    {{ CreateAccount.is_supervisor }}
    <br>
    {{ CreateAccount.submit }}
</form>




<!--</div>-->




    <!-- content goes here, above. -->

    </div>
  </div><!-- /.container -->

{% endblock content %}
