{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Create User</h1>
</div>

<div class="container">
  <div class="page_content">

  <!-- content goes in here, below. -->

<div class= "text-center">


 <form method="POST">

      {{ form.csrf_token }}
      <div style="display: inline-block; min-width: 13em">
      {{ form.email.label }}
      {{ form.email (class="form-control")}}
      </div>
      <br>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ form.password.label }}
      {{ form.password (class="form-control")}}
      </div>
      <br>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ form.confirm.label }}
      {{ form.confirm (class="form-control")}}
      </div>
      <br>
      <br>
      {{form.submit (class='btn btn-secondary btn-lg')}}

</form>


</div>




  <!-- content goes here, above. -->

  </div>
</div><!-- /.container -->

{% endblock content %}
