
{% extends "base.html" %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Task Editor</h1>
</div>

<div class="container">
  <div class="page_content">



    <!--<h1>Task Creation Test Page</h1>-->

    <form action="{{ url_for('create_task') }}" method="POST">
        {{ form.hidden_tag() }}
        <div style="display: inline-block; min-width: 13em">
            {{ form.task_name.label }}
        </div>
        <div style="display: inline-block; min-width: 13em">
        {{ form.task_name (class="form-control")}}
        </div>
        <a class="btn btn-secondary btn-md" href="#">
          <i class="fas fa-microphone"></i>Voice</a></button>

        <br>

        <div style="display: inline-block; min-width: 13em">
            {{ form.required_items.label }}
        </div>
        <div style="display: inline-block; min-width: 13em">
        {{ form.required_items (class="form-control")}}
        </div>
        <br>

        {{ form.main_step }}
        <br>
        {{ form.add_main_step (class='btn btn-secondary btn-md')}}
        <br><br>
        {{ form.save_as_draft (class='btn btn-secondary btn-md')}}&nbsp;
        {{ form.publish (class='btn btn-secondary btn-md')}}
    </form>



  </div>
</div><!-- /.container -->
{% endblock content %}
