{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Supervisor Dashboard</h1>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="container" style="font-size: 1.5em;">
  <div class="page_content">

<!--Two tables for users and tasks-->
<div class="row">
  <div class="table-responsive col-md-12">
      <h2 class="sub-header text-center">Assigned Users</h2>
      <a id="hide_users" style='width:20%;'onclick='document.getElementById("hide_users").style.display="none";document.getElementById("user_table").style.display="none"; document.getElementById("show_users").style.display="inherit";'role="button" class="btn btn-secondary btn-sm btn-block"><span>Collapse User List</span></a>
      <a id="show_users" style='display: none;width:20%;' onclick='document.getElementById("show_users").style.display="none";document.getElementById("user_table").style.display="table"; document.getElementById("hide_users").style.display="inherit";' role="button" class="btn btn-secondary btn-sm btn-block"><span>Display User List</span></a>
      <table id="user_table" class="table table-hover table-bordered">
        <thead id='user_table_header'>
          <tr>
            <th onclick='sort_table(user_body, 0, asc1); asc1 *= -1; asc2 =1;asc3 =1; document.getElementById("user_date").style.visibility="visible"; document.getElementById("user_name").style.visibility="hidden"; document.getElementById("user_email").style.visibility="hidden";  document.getElementById("user_date").src=(asc1==1)?"../static/img/up.png":"../static/img/down.png"' >Assigned<img id="user_date" style="height:1em;"></th>
            <th onclick='sort_table(user_body, 1, asc2); asc2 *= -1; asc1 =1;asc3 =1; document.getElementById("user_name").style.visibility="visible"; document.getElementById("user_email").style.visibility="hidden";  document.getElementById("user_date").style.visibility="hidden"; document.getElementById("user_name").src=(asc2==1)?"../static/img/up.png":"../static/img/down.png"' >Name<img id="user_name" style="height:1em;"></th>
            <th onclick='sort_table(user_body, 2, asc3); asc3 *= -1; asc1 =1;asc2 =1; document.getElementById("user_email").style.visibility="visible"; document.getElementById("user_name").style.visibility="hidden"; document.getElementById("user_date").style.visibility="hidden"; document.getElementById("user_email").src=(asc3==1)?"../static/img/up.png":"../static/img/down.png"' >Email<img id="user_email" style="height:1em;"></th>
          </tr>
        </thead>
        <tbody id='user_body'>
        {% for u in user_list %} 
          <tr id='user_{{u.userID}}' >
            <td>{{u.dateCreated}}</td>
            <td>{{u.fname}} {{u.lname}}</td>
            <td>{{u.email}}</td>
          </tr> 
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-12">
      <h2 class="sub-header text-center">Assigned Tasks</h2>
      <a id="hide_tasks" style='width:20%;'onclick='document.getElementById("hide_tasks").style.display="none";document.getElementById("task_table").style.display="none"; document.getElementById("show_tasks").style.display="inherit";' role="button" class="btn btn-secondary btn-sm btn-block"><span>Collapse Task List</span></a>
      <a id="show_tasks" style='display: none;width:20%;' onclick='document.getElementById("show_tasks").style.display="none";document.getElementById("task_table").style.display="table"; document.getElementById("hide_tasks").style.display="inherit";' role="button" class="btn btn-secondary btn-sm btn-block"><span>Display Task List</span></a>
 
      <table id="task_table" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th onclick='sort_table(task_body, 0, asc4); asc4 *= -1; asc5 =1;asc6 =1; document.getElementById("task_date").style.visibility="visible"; document.getElementById("task_title").style.visibility="hidden"; document.getElementById("task_description").style.visibility="hidden"; document.getElementById("task_date").src=(asc4==1)?"../static/img/up.png":"../static/img/down.png";' >Assigned<img id="task_date" style="height:1em;"></th>
            <th onclick='sort_table(task_body, 1, asc5); asc5 *= -1; asc4 =1;asc6 =1; document.getElementById("task_title").style.visibility="visible";  document.getElementById("task_date").style.visibility="hidden"; document.getElementById("task_description").style.visibility="hidden"; document.getElementById("task_title").src=(asc5==1)?"../static/img/up.png":"../static/img/down.png";' >Title<img id="task_title" style="height:1em;"></th>
            <th onclick='sort_table(task_body, 2, asc6); asc6 *= -1; asc4 =1;asc5 =1; document.getElementById("task_description").style.visibility="visible"; document.getElementById("task_date").style.visibility="hidden"; document.getElementById("task_title").style.visibility="hidden"; document.getElementById("task_description").src=(asc6==1)?"../static/img/up.png":"../static/img/down.png";'>Description<img id="task_description" style="height:1em;"></th>
          </tr>
        </thead>
        <tbody id='task_body'>
           {% for t in task_list %} 
                  <tr id='task_{{t.taskID}}'>
                    <td>{{t.dateCreated}}</td>
                    <td>{{t.title}}</td>
                    <td>{{t.description}}</td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

</br>


 <!-- content goes here, above. -->

  </div>
</div><!-- /.container -->

{% endblock content %}
