{% extends 'base.html' %}
{% block content %}
<script>
         // highlight a row     
        function select_row(id,last){
            //console.log(last);
            try{
                if(last==id){
                    if (document.getElementById(last).bgColor=="lightblue")
                         unselect_row(id);
                    else
                         document.getElementById(id).bgColor = "lightblue"; 
                }else{
                    document.getElementById(last).bgColor = "white"; 
                    document.getElementById(id).bgColor = "lightblue"; 
                    }
            }catch(err){
                document.getElementById(id).bgColor = "lightblue"; 
            }
             
        }
        
        // unselect a row     
        function unselect_row(r){
            if (r!=0)
                document.getElementById(r).bgColor = "white";
        }
        
                
        
        function sort_table(tbody, col, asc) {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++)
                    arr[i][j] = cells[j].innerHTML;
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                if(col == 0) // sorting integers require - operator to compare
                    return (a[col] == b[col]) ? 0 : asc == 1 ? (a[col] - b[col]) : (b[col] - a[col]);
                else //strings sort using the > operator
                    return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // update text within every td without altering the tags
            for (i = 0; i < rlen; i++)
                for (j = 0; j < clen; j++)
                    rows[i].cells[j].textContent = arr[i][j];
        }
        
        
        var asc1=1;
        var asc2=1;
        var asc3=1;
        var asc4=1;
        var asc5=1;
        var asc6=1;
        var asc7=1;
        var asc8=1;
        var row = 0;
        var last_row = 0;
        /*var task_row = 0;
        var last_task_row = 0;*/
</script>

<div class="jumbotron text-center">
  <h1>Supervisor Dashboard</h1>
</div>

<div class="container">
  <div class="page_content">

  <!-- content goes in here, below. -->

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm">
              <div id="editableTextBox">
                  <div class= "form-control" contenteditable="true" style="border: 1px solid black">
                      Task Name A-Z (need a dropdown and reverse icon as a button)
                  </div>
              </div>
          </div>
          <div>
              <button type="#" class="btn btn-secondary btn-sm"><i class="fas fa-microphone"></i>Voice</button>
              <button type="submit" class="btn btn-secondary btn-sm">Search</button>
          </div>
      </div>
  </div>
  <br>

<!--Two tables for users and tasks-->
<div class="row">
  <div class="table-responsive col-md-6">
      <h2 class="sub-header text-center">Assigned Users</h2>
      <table class="table table-hover"><!--  -->
        <thead>
          <tr>
            <th onclick='sort_table(user_table, 0, asc1); asc1 *= -1; asc2 =1;asc3 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_id").style.visibility="visible"; document.getElementById("user_name").style.visibility="hidden"; document.getElementById("user_email").style.visibility="hidden"; document.getElementById("user_date").style.visibility="hidden"; document.getElementById("user_id").src=(asc1==1)?"../static/img/up.png":"../static/img/down.png"' >User ID <img id="user_id" style="height:1em;"></span></th>
            <th onclick='sort_table(user_table, 1, asc2); asc2 *= -1; asc1 =1;asc3 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_date").style.visibility="visible"; document.getElementById("user_name").style.visibility="hidden"; document.getElementById("user_email").style.visibility="hidden"; document.getElementById("user_id").style.visibility="hidden"; document.getElementById("user_date").src=(asc2==1)?"../static/img/up.png":"../static/img/down.png"' >Date Assigned <img id="user_date" style="height:1em;"></span></th>
            <th onclick='sort_table(user_table, 2, asc3); asc3 *= -1; asc1 =1;asc2 =1;asc4 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_email").style.visibility="visible"; document.getElementById("user_name").style.visibility="hidden"; document.getElementById("user_id").style.visibility="hidden"; document.getElementById("user_date").style.visibility="hidden"; document.getElementById("user_email").src=(asc3==1)?"../static/img/up.png":"../static/img/down.png"' >Email <img id="user_email" style="height:1em;"></span></th>
            <th onclick='sort_table(user_table, 3, asc4); asc4 *= -1; asc1 =1;asc2 =1;asc3 = 1; unselect_row(last_row);unselect_row(row); document.getElementById("user_name").style.visibility="visible"; document.getElementById("user_email").style.visibility="hidden"; document.getElementById("user_id").style.visibility="hidden";document.getElementById("user_date").style.visibility="hidden"; document.getElementById("user_name").src=(asc4==1)?"../static/img/up.png":"../static/img/down.png"' >Name <img id="user_name" style="height:1em;"></span></th>
          </tr>
        </thead>
        <tbody id='user_table'>
        {% for u in user_list %} 
          <tr id='user_{{u.userID}}' >
            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.userID}}</td>
            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.dateCreated}}</td>
            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.fname}} {{u.lname}}</td>
            <td onclick='last_row=(row==0)?"user_{{u.userID}}":row; row="user_{{u.userID}}"; select_row(row,last_row);'>{{u.email}}</td>
          </tr> 
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
      <h2 class="sub-header text-center">Assigned Tasks</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th onclick='sort_table(task_table, 0, asc5); asc5 *= -1; asc6 =1;asc7 =1;asc8 = 1; unselect_row(last_row);unselect_row(row);'>Task ID</th>
            <th onclick='sort_table(task_table, 1, asc6); asc6 *= -1; asc5 =1;asc7 =1;asc8 = 1; unselect_row(last_row);unselect_row(row);'>Date Assigned</th>
            <th onclick='sort_table(task_table, 2, asc7); asc7 *= -1; asc5 =1;asc6 =1;asc8 = 1; unselect_row(last_row);unselect_row(row);'>Title</th>
            <th onclick='sort_table(task_table, 3, asc8); asc8 *= -1; asc5 =1;asc6 =1;asc7 = 1; unselect_row(last_row);unselect_row(row);'>Description</th>
          </tr>
        </thead>
        <tbody id='task_table'>
           {% for t in task_list %} 
                  <tr id='task_{{t.taskID}}' >
                    <td onclick='last_row=(row==0)?"task_{{t.taskID}}":row; row="task_{{t.taskID}}"; select_row(row,last_row);'>{{t.taskID}}</td>
                    <td onclick='last_row=(row==0)?"task_{{t.taskID}}":row; row="task_{{t.taskID}}"; select_row(row,last_row);'>{{t.dateCreated}}</td>
                    <td onclick='last_row=(row==0)?"task_{{t.taskID}}":row; row="task_{{t.taskID}}"; select_row(row,last_row);'>{{t.title}}</td>
                    <td onclick='last_row=(row==0)?"task_{{t.taskID}}":row; row="task_{{t.taskID}}"; select_row(row,last_row);'>{{t.description}}</td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

</br>


 <!-- content goes here, above. -->

  </div>
</div><!-- /.container -->

{% endblock content %}
