{% extends "base.html" %}

{% block content %}
    <!-- HTML5 Speech Recognition API -->
    <script src="/static/js/speech_recognition.js"></script>

    <div class="jumbotron text-center">
        <h1>Edit Task</h1>
    </div>

    <div class="container">
        <div class="page_content">
            {% with messages = get_flashed_messages(category_filter=['info']) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form id="edit_task_form" action="{{ url_for('edit_task') }}" method="POST">
                {{ form.hidden_tag() }}
		    
                {{ form.claim }}

                <!-- Title -->
                <div style="display: inline-block; min-width: 13em">
                    {{ form.title.label (style="font-size: 1.5em;")}}
                </div>
                <div style="display: inline-block; min-width: 13em">
                    {{ form.title (id="task_title", class="form-control") }}
                </div>
                <img onclick="startDictation('task_title')" src="//i.imgur.com/cHidSVu.gif" />

                <br>

                <!-- Description -->
                <div style="display: inline-block; min-width: 13em">
                    {{ form.description.label (style="font-size: 1.5em;")}}
                </div>
                <div style="display: inline-block; min-width: 13em">
                    {{ form.description (id="task_description", class="form-control", style="height: 100px, width:100%") }}
                </div>
                <img onclick="startDictation('task_description')" src="//i.imgur.com/cHidSVu.gif" />

                <br><br>

                <!-- Image -->
                <div style="display: inline-block; min-width: 13em">
                    {{ form.image.label (style="font-size: 1.5em;")}}
                </div>
                <div style="display: inline-block; min-width: 13em">
                    {{ form.image }}
                </div>

                <hr>

                <!-- Main Steps -->
                <div style="display: inline-block; min-width: 90%">
                    {% for main_step in form.main_steps %}
                        {{ loop.index }}. {{ main_step.title.label (style="font-size: 1.5em;")}}&nbsp;
                        <img onclick="startDictation('main_step_title')" src="//i.imgur.com/cHidSVu.gif" />
                        {{ main_step.title (id="main_step_title", class="form-control") }}
                        <br>
                        {{ main_step.requiredItem.label (style="font-size: 1.5em;")}}{{ main_step.requiredItem(id="main_step_requiredItems") }}
                        <img onclick="startDictation('main_step_requiredItems')" src="//i.imgur.com/cHidSVu.gif" />
                        <br>
                        {{ main_step.stepText.label (style="font-size: 1.5em;")}}&nbsp;
                        <img onclick="startDictation('main_step_stepText')" src="//i.imgur.com/cHidSVu.gif" />
                        {{ main_step.stepText(id="main_step_stepText", style="height: 100px; width:100%") }}
                        <br><br>
                        {{ main_step.audio.label (style="font-size: 1.5em;")}}{{ main_step.audio }}
                        <br>
                        {{ main_step.image.label (style="font-size: 1.5em;")}}{{ main_step.image }}
                        <br>
                        {{ main_step.video.label (style="font-size: 1.5em;")}}{{ main_step.video }}
                        <br><br>

                        <!-- Detailed Steps -->
                        <div style="display: inline-block; margin-left:3em">
                            {% for detailed_step in main_step.detailed_steps %}
                                {{ loop.index }}.
                                {{ detailed_step.title.label (style="font-size: 1.5em;")}}
                                {{ detailed_step.title(id="detailed_step_title") }}
                                <img onclick="startDictation('detailed_step_title')" src="//i.imgur.com/cHidSVu.gif" />
                                <br>
                                {{ detailed_step.stepText.label (style="font-size: 1.5em;")}}&nbsp;
                                <img onclick="startDictation('detailed_step_stepText')" src="//i.imgur.com/cHidSVu.gif" />
                                {{ detailed_step.stepText(id="detailed_step_stepText", style="height: 100px; width:100%") }}
                                <br>
                                {{ detailed_step.image.label (style="font-size: 1.5em;")}}{{ detailed_step.image }}
                                <br>
                                {{ detailed_step.detailed_step_removal (class='btn btn-secondary btn-md') }}
                                <br><br>
                            {% endfor %}
                            {{ main_step.add_detailed_step (class='btn btn-secondary btn-md') }}
                        </div>
                        <br><br>
                        {{ main_step.main_step_removal (class='btn btn-secondary btn-md') }}
                        <hr>
                    {% endfor %}
                </div>
                <br>
                {{ form.add_main_step (class='btn btn-secondary btn-md') }}
                <br><br>
                {{ form.activation }}&nbsp;{{ form.activation.label (style="font-size: 1.5em;")}}
                <br>
                {{ form.publish }}&nbsp;{{ form.publish.label (style="font-size: 1.5em;")}}
                <br>
                {{ form.keywords.label (style="font-size: 1.5em;")}}&nbsp;<img onclick="startDictation('keywords')" src="//i.imgur.com/cHidSVu.gif" />
                {{ form.keywords(id="keywords", style="height: 100px; width:100%") }}
                <br><br>
                {{ form.save (class='btn btn-secondary btn-md') }}&nbsp;
				<br>
            </form>
			<br>

        </div>
    </div><!-- /.container -->
{% endblock content %}
