{% extends 'base.html' %} {% block content %}
<!--top of page heading of page-->
<div class="jumbotron text-center">
  <h1>Library</h1>
</div>
<!-- everything is held within this container for responsiveness-->
<div class="container">
    <div class="page_content">

    <!-- content goes in here, below. -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <!-- Supervisor Dropdown -->
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown">
                            Supervisor
                        </button>
                        <div class="dropdown-menu force-scroll">
                            {% for supervisor in supervisors %}
                            <a class="dropdown-item" style="font-size: 1.5em;" href="/library/alpha:{{ supervisor.supervisorID }}">
                               {{ supervisor.fname }} {{ supervisor.lname }}
                            </a> {% endfor %}
                        </div>
                    </div>
                    <!-- END Supervisor Dropdown -->
					<br>
                    <!-- Sort dropdown -->
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            Sort
                        </button>
                        <div class="dropdown-menu" style="font-size: 1.5em;">
                            <a class="dropdown-item" href="/library/alpha:{{ selectedID }}">
                                Alphabetical
                            </a>
                            <a class="dropdown-item" href="/library/alpha-rev:{{ selectedID }}">
                                Alphabetical (Reverse)
                            </a>
                            <a class="dropdown-item" href="/library/chrono:{{ selectedID }}">
                                Chronological
                           </a>
                            <a class="dropdown-item" href="/library/chrono-rev:{{ selectedID }}">
                                Chronological (Reverse)
                            </a>
                        </div>
                    </div>
                    <!-- END Sort Dropdown -->
                </div><!--end of column-->
            <!--inline search bar start-->
                <form method="POST">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div style="display: inline-block; min-width: 20em">
                                    {{ search.csrf_token }}
                                    {{ search.search }}
                                   
                                    {{ search.submit }}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!--end of inline search bar-->
        <br>
		<!-- Below are where the tasks are displayed -->
<div class="container">
<div class="row">
{% for task in tasks %}
  <div class="col-12 col-sm-12 col-md-4">
    <div class="card border-dark mb-3 text-center">
	<img class="card-img-top h-50" src="../static/img/{{img[task.taskID|int]|string}}" alt="Card Image Cap">
      <div class="card-block">
        <h3 class="card-title">{{ task.title }}</h3>
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
		<!-- Button trigger modal -->
		<div class= text-center>
<!-- 			<button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModalCenter{{task.taskID}}">
				Edit Task
			</button> -->
                {% if task.supervisorID!=current_user.supervisorID %}
		<a href="{{url_for('edit_task',task_id=task.taskID,claim=True)}}">
                <button type="button" class="btn btn-success btn-lg">Claim</button></a>
                {%endif %}
                {% if task.supervisorID==current_user.supervisorID %}
		<a href="{{url_for('edit_task',task_id=task.taskID)}}">
		<button type="button" class="btn btn-success btn-lg">Edit</button></a>
                {%endif %}
		</div>

        <!-- Modal -->
<!-- 		<div class="modal fade" id="exampleModalCenter{{task.taskID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Edit: {{ task.title }}</h3>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h5>Would you like to edit this task?</h5>
					</div>
					<div class="modal-footer">
                                                {% if task.supervisorID!=current_user.supervisorID %}
						<a href="{{url_for('edit_task',task_id=task.taskID,claim=True)}}">
                                                <button type="button" class="btn btn-success btn-lg">Claim</button></a>
                                                {%endif %}
                                                {% if task.supervisorID==current_user.supervisorID %}
						<a href="{{url_for('edit_task',task_id=task.taskID)}}">
						<button type="button" class="btn btn-success btn-lg">Edit</button></a>
                                                {%endif %}
                                        </div>
				</div>
			</div>
		</div> -->
		<br>
      </div>
    </div>
  </div>
{% endfor %}
</div>  
</div><!-- end of container -->
{% endblock content %}