{% extends 'base.html' %} {% block content %}
<!--top of page heading of page-->
<div class="jumbotron text-center">
  <h1>Library</h1>
</div>
<!-- everything is held within this container for responsiveness-->
<div class="container">
    <div class="page_content">

    <!-- content goes in here, below. -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <!-- Supervisor Dropdown -->
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            Supervisor
                        </button>
                        <div class="dropdown-menu force-scroll">
                            <a class="dropdown-item" href="/library/alpha:-1">
                                Show All
                            </a>
                            {% for supervisor in supervisors %}
                            <a class="dropdown-item" href="/library/alpha:{{ supervisor.supervisorID }}">
                                {{ supervisor.fname }} {{ supervisor.lname }}
                            </a> {% endfor %}
                        </div>
                    </div>
                    <!-- END Supervisor Dropdown -->
                    <!-- Sort dropdown -->
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                            Sort
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/library/alpha:{{ selectedID }}">
                                Alphabetical
                            </a>
                            <a class="dropdown-item" href="/library/alpha-rev:{{ selectedID }}">
                                Alphabetical (Reverse)
                            </a>
                        </div>
                    </div>
                    <!-- END Sort Dropdown -->
                </div>
            <!--inline search bar start-->
                <form method="POST">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <div style="display: inline-block; min-width: 20em">
                                    {{ search.csrf_token }}
                                    {{ search.search }}
                                    <!--</div>-->
                                    <!--<div class="col-sm">-->
                                    {{ search.submit }}
                                    <!--</div>-->
                                    <!---<div class="col-sm">-->
                                    <!--{{ search.submit }}-->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!--end of inline search bar-->
        <br>

        <!--<form method="POST">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
        <div style="display: inline-block; min-width: 20em">
                    {{ search.csrf_token }}
                    {{ search.search }}

               <!--</div>-->
        <!--<div class="col-sm">-->
        <!--{{ search.submit }}-->
        <!--</div>-->
        <!---<div class="col-sm">-->
        <!--{{ search.submit }}-->
        <!--</div>
                </div>
            </div>
        </div>
        </form>
        <br>-->


        <!-- Below are where the tasks are displayed -->
        <div class="container-fluid">
            <div class="row">
                <!-- start content here -->
                {% for task in tasks %}
                <div class="col-sm">
                    <div class="container">
                        <!-- This temporarily is used to show description -->
                        <div onclick="alert('{{ task.description }}')">
                            <!--card sizing below-->
                            <div class="card border-dark mb-3" style="width:175px">
                                <img class="card-img-top" src="../static/img/{{img[task.taskID|int]|string}}" alt="Card Image Cap">
                                <div class="card-body">
                                    <p class="card-text">{{ task.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br>
                <!-- end content here -->
            </div>
        </div>
    </div>
</div>
<!-- end of container -->
{% endblock content %}
