{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Reports</h1>
</div>
<!-- content goes here, below. -->

<!-- text to be populated by querying database "......"-->
<div class = "container">
	<div class = "text-center">
	<h3>User Overview for: {{current_user.fname + " " + current_user.lname}}</h3>
	</div>
</div>
<!-- end of text -->

<br>
<!-- table to be populated -->
<div class="container">
	<div class="text-center">
	<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Task Name</th>
        <th>Time Spent on Task</th>
        <th>Date / Time</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tasks %}
      <tr>
        <td>{{ t["userID"] }}</td>
        <td>{{ t["title"] }}</td>
        <td>{{ t["totalTime"] }}</td>
        <td>{{ t["dateTimeCompleted"] }}</td>
      </tr>
      <tr>
	{% endfor %}
    </tbody>
  </table>
 </div>
</div>
<!-- end of table -->
<br>
  

 <!-- content goes here, above. -->
{% endblock content %}
