{% extends 'base.html' %}
{% block content %}


<div class="jumbotron text-center">
  <h1>Reports</h1>
</div>

<!-- content goes here, below. -->
  
 <div class="col-sm"></div><!-- this is used for spacing purposes-->
 <div class="col-sm"></div><!-- this is used for spacing purposes--> 
<!-- end -->
</div>
</div>
</div>
<!-- end of top row -->

<br>
<br>

<!--start of second row-->
<div class="container">
  <div class="text-center">
  <div class="row">
    <div class="col-sm-4">
	<!-- second row left button -->
		<a href="#" role="button" class="btn btn-secondary btn-lg btn-block">Graph</a>
    </div>
    <div class="col-sm-4">
	<!-- second row middle button -->
		<a href="{{url_for('email')}}" role="button" class="btn btn-secondary btn-lg btn-block">Email</a>
    </div>
	<div class="col-sm-4">
  <!-- second row right button -->
  {% if arguments is none %}
    <a href="{{url_for('pdf')}}" role="button" class="btn btn-secondary btn-lg btn-block">PDF</a>
  {% else %}
    <a href="{{url_for('pdf') + "/" + arguments}}" role="button" class="btn btn-secondary btn-lg btn-block">PDF</a>
  {% endif %}
    </div>
  </div>
  </div>
</div>
<!-- end of second row -->

<!-- text to be populated by querying database "......"-->
<div class = "container">
	<div class = "text-center">
	<h3>Supervisor Overview for: {{current_user.fname + " " + current_user.lname}}</h3>
	<h4>{{ constraint }}</h4>
	</div>
</div>
<!-- end of text -->

<!-- dropdown to be populated with senior names from database-->
<div class = "container">
 <div class="row text-center">
  <div class="col-sm-3">
	  <div class="dropdown">
	    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
	      Senior Names
	    </button>
            <div class="dropdown-menu force-scroll">
              <a class="dropdown-item" href="{{url_for('reports') + '/userid:A'}}">
		   All
	        </a>
	      {% for i in user %}
              <a class="dropdown-item" href="{{url_for('reports') + '/userid:' + i['userID']|string}}">
		   {{ i["fname"] }} {{ i["lname"] }}
	      </a>
	      {% endfor %}
          </div>
    </div>
	</div>
  <div class="col-sm-3"></div><!-- this is used for spacing purposes-->
  <div class="col-sm-3"></div><!-- this is used for spacing purposes--> 
  <div class="col-sm-3">
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          Constraints
      </button>
    <div class="dropdown-menu force-scroll">
      <a class="dropdown-item" href="{{url_for('reports') + '/date:A'}}">All</a>
      <a class="dropdown-item" href="{{url_for('reports') + '/date:M'}}">Monthly</a>
      <a class="dropdown-item" href="{{url_for('reports') + '/date:W'}}">Weekly</a>
      <a class="dropdown-item" href="{{url_for('reports') + '/date:A'}}">Daily</a>
    </div>
      
    </div>
  </div>
</div>
<!-- end senior name dropdown -->

<br>
<!-- table to be populated -->
<div class="container">
	<div class="text-center">
	<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Task Name</th>
        <th>Time Spent on Task</th>
        <th>Date / Time</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tasks %}
      <tr>
        <td>{{ t["userID"] }}</td>
        <td>{{ t["title"] }}</td>
        <td>{{ t["totalTime"] }}</td>
        <td>{{ t["dateTimeCompleted"] }}</td>
      </tr>
      <tr>
	{% endfor %}
    </tbody>
  </table>
 </div>
</div>
<!-- end of table -->
 
<br>
  

 <!-- content goes here, above. -->



{% endblock content %}