{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Supervisor Account</h1>
</div>

<div class="container">
  <div class="page_content">

  <!-- content goes in here, below. -->

<div class= "text-center">




  <!-- Edit user info -->
  <form method="POST">
      {{ EditUser.csrf_token }}
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.phone.label }}
      {{ EditUser.phone (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.fname.label }}
      {{ EditUser.fname (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.mname.label }}
      {{ EditUser.mname (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.lname.label }}
      {{ EditUser.lname (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.gender.label }}
      {{ EditUser.gender (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.birthday.label }}
      {{ EditUser.birthday (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.affiliation.label }}
      {{ EditUser.affiliation (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.ethnicity.label }}
      {{ EditUser.ethnicity (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.picture.label }}
      {{ EditUser.picture(class="form-control")}}
      </div>
      <br>
      <br>
      {{ EditUser.submit (class="btn btn-secondary btn-md")}}
  </form>

  <!-- Add user to supervisor -->
  <form method="POST">
      {{ AddUser.csrf_token }}
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ AddUser.supervisor_email.label }}
      {{ AddUser.supervisor_email (class="form-control")}}
      </div>
      <p>*Please note that the supervisor field will be filled out instead by
      the session variable after sessions are integrated.*</p>
      <br>
      {% for user in users %}

          {{ AddUser.user }}{{ user}}

          <br>

      {% endfor %}
      <br>
      {{ AddUser.submit (class='btn btn-secondary btn-md')}}
  </form>

  <!-- Assign user to a supervisor -->
  <form method="POST">
      {{ AssignUser.csrf_token }}
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ AssignUser.supervisor.label }}
      {{ AssignUser.supervisor (class="form-control")}}
      </div>
      <br>
      <div style="display: inline-block; min-width: 13em">
      {{ AssignUser.user.label }}
      {{ AssignUser.user (class="form-control")}}
      </div>
      <br>
      <br>
      {{ AssignUser.submit (class='btn btn-secondary btn-md')}}
  </form>


</div>




  <!-- content goes here, above. -->

  </div>
</div><!-- /.container -->

{% endblock content %}
