{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Supervisor Account</h1>
</div>

<div class="container">
 <div class="page_content">

  <!-- content goes in here, below. -->

  <div class= "text-center">



  <!-- Edit user info -->
  <form method="POST">
      {{ EditUser.csrf_token }}
      {% for fieldName, errorMessage in ErrorItems %}
        <p>{{ fieldName }} - {{ errorMessage }}</p>
      {% endfor %}
	  <!--first name field-->
	  <div class="row">
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.fname.label (style="font-size: 1.5em;")}}
      {{ EditUser.fname (class="form-control" , placeholder="* required")}}
      </div>
	  </div>
      <br>
	  <!--middle name field-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.mname.label (style="font-size: 1.5em;")}}
      {{ EditUser.mname (class="form-control")}}
      </div>
	  </div>
      <br>
	  <!--last name field-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.lname.label (style="font-size: 1.5em;")}}
      {{ EditUser.lname (class="form-control",placeholder="* required")}}
      </div>
	  </div>
	  </div>
      <br>
	  <!--phone field-->
	  <div class="row">
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.phone.label (style="font-size: 1.5em;")}}
      {{ EditUser.phone (class="form-control", placeholder="xxxxxxxxxx")}}
      </div>
	  </div>
	  <br>
	  <!--gender field-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.gender.label (style="font-size: 1.5em;")}}
      {{ EditUser.gender (style="vertical-align: middle") }}
      </div>
	  </div>
      <br>
	  <!--birthday field-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.birthday.label (style="font-size: 1.5em;")}}
	  {{ EditUser.birthday (class="form-control" , placeholder="yyyy-mm-dd")}}

      </div>
	  </div>
	  </div>
      <br>
	  <!-- affiliation field-->
	  <div class="row">
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.affiliation.label (style="font-size: 1.5em;")}}
      {{ EditUser.affiliation (class="form-control")}}
      </div>
	  </div>
      <br>
	  <!--ethnicity field-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.ethnicity.label (style="font-size: 1.5em;")}}
      {{ EditUser.ethnicity (class="form-control")}}
      </div>
	  </div>
      <br>
	  <!-- picture upload button-->
	  <div class="col-sm-4">
      <div style="display: inline-block; min-width: 13em">
      {{ EditUser.picture.label (style="font-size: 1.5em;")}}
		<div class="form-group">
			<input type="file" class="form-control-file"  id="exampleInputFile" aria-describedby="fileHelp">
		</div>
      </div>
	  </div>
	  </div>
      <br>
      <br>
      <p>* Denotes required field</p>
      {{ EditUser.submit (class="btn btn-secondary btn-lg")}}
	  <br>
	  <br>
  </form>
 </div>




  <!-- content goes here, above. -->

 </div>
</div><!-- /.container -->

{% endblock content %}
