{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
	<h1>Survey Creation Page</h1>
</div>
	<div class="container-fluid">
        <div class="row">
		<!--making columns so they resize ontop (small screen) and 4 columns (desktop)-->
            <div class="col-sm text-center">
				<form method="POST">
					{{form.csrf_token}}

					{% for q in form_questions %}
					<p>{{q.questionText}}</p>
					{% endfor %}
			
			
					<br>
					<br>
					{{form.save}}
					{{form.delete}} 
					{{form.activate_a_survey.label}} 
					{{form.activate_a_survey}} 
					{{form.assign_a_survey.label}} 
					{{form.assign_a_survey}} 
					<br>
				
				<br>
				
					{{form.delete}} 
					{% for q in form.questions %}
					{{q.stock_question.label}}
					{{q.stock_question}}
					{{q.delete_a_question}}
					{{q.rearrange_a_question}}
			
					<br>
					<br>
				
					{% endfor %}
				
					{{form.add_question}}
				
				<br>
				<br>
	
				</form>
			</div>
		</div>



{% endblock content %}
