{% extends 'base.html' %}
{% block content %}


<div class="jumbotron text-center">
	<h1>Survey Results</h1>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<br>
<div class="container">
        <div class="page_content">
<div class="row">
<div class="col-sm-4">
<a href="{{url_for('surveyCreation')}}" role="button" class="btn btn-secondary btn-lg btn-block">Create Survey</a>
</div>
<div class="col-sm-4">
<a href="{{url_for('surveys')}}" role="button" class="btn btn-secondary btn-lg btn-block">Survey Management</a>
</div>
</div>
<br>

<div class="row">
  <div class="table-responsive col-md-12">
    <h2 class="sub-header text-center">Completed Surveys</h2>
    <table class="table table-hover" style="font-size: 1.5em;">
<thead>
<th onclick='sort_table(result_table, 0, asc1);asc1 *= -1; asc2=1; asc3=1; asc4=1; document.getElementById("taskname").style.visibility="visible"; document.getElementById("surveyname").style.visibility="hidden"; document.getElementById("user").style.visibility="hidden"; document.getElementById("dates").style.visibility="hidden";document.getElementById("taskname").src=(asc1==1)?"../static/img/up.png":"../static/img/down.png"'>Task Name<img id="taskname" style="height:1em;"></th>
<th onclick='sort_table(result_table, 1, asc2);asc2 *= -1; asc1=1; asc3=1; asc4=1; document.getElementById("surveyname").style.visibility="visible";document.getElementById("taskname").style.visibility="hidden"; document.getElementById("user").style.visibility="hidden"; document.getElementById("dates").style.visibility="hidden";document.getElementById("surveyname").src=(asc2==1)?"../static/img/up.png":"../static/img/down.png"'>Survey Name<img id="surveyname" style="height:1em;"></th>
<th onclick='sort_table(result_table, 2, asc3);asc3 *= -1; asc2=1; asc1=1; asc4=1; document.getElementById("user").style.visibility="visible";document.getElementById("taskname").style.visibility="hidden"; document.getElementById("surveyname").style.visibility="hidden"; document.getElementById("dates").style.visibility="hidden";document.getElementById("user").src=(asc3==1)?"../static/img/up.png":"../static/img/down.png"'>User<img id="user" style="height:1em;"></th>
<th onclick='sort_table(result_table, 3, asc4);asc4 *= -1; asc3=1; asc2=1; asc1=1; document.getElementById("dates").style.visibility="visible";document.getElementById("taskname").style.visibility="hidden"; document.getElementById("surveyname").style.visibility="hidden"; document.getElementById("user").style.visibility="hidden";document.getElementById("dates").src=(asc4==1)?"../static/img/up.png":"../static/img/down.png"'>Date Completed<img id="dates" style="height:1em;"></th>
<th>
</th>
</thead>
<tbody id='result_table'>
         {% for r in data %} 
          <tr id='result_{{r["formID"]}}'>
            <td>{{r["Title"]}}</td>
            <td>{{r["formTitle"]}}</td>
            <td>{{r["fname"] + " " + r["lname"]}}</td>
            <td>{{r["date"]}}</td>
            <td><a href="{{url_for('displayResult') + r['resultID']|string}}" role="button" class="btn btn-secondary btn-sm btn-block">Result</td>
          </tr>
           {% endfor %}
</tbody>
</table>
</div>
</div>

</div>
</div>

{% endblock content %}
