{% extends 'base.html' %}
{% block content %}

<script>
        /* stores the ordered state of columns */
        var asc1=1;
        var asc2=1;
        
        // sorts a column of a tbody
        function sort_table(tbody, col, asc) {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                // console.log(rows[i])
                cells = rows[i].cells;
                clen = cells.length-1; // DO NOT SORT THE LAST ROW ON THE MANAGEMENT PAGE RIGHT NOW
                arr[i] = new Array();
                for (j = 0; j < clen; j++)
                    arr[i][j] = cells[j].innerHTML;
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // update text within every td without altering the tags
            for (i = 0; i < rlen; i++)
                for (j = 0; j < clen; j++)
                    rows[i].cells[j].textContent = arr[i][j];
        }
</script>
<div class="jumbotron text-center">
	<h1>Survey Management</h1>
</div>


<a href="{{url_for('surveyCreation')}}">new survey</a>
<a href="{{url_for('survey_results')}}">View All Results</a>
<br>
<!-- survey_list -->
<table>
<thead>
<th onclick='sort_table(survey_table, 0, asc1); asc1 *= -1; asc2=1;'>SurveyTitle</th>
<th onclick='sort_table(survey_table, 1, asc2); asc2 *= -1; asc1=1;'>SurveyDesc</th>
<th></th>
</thead>
<tbody id='survey_table'>
        {% for s in survey_list %} 
          <tr id='form_{{s["formID"]}}'>
            <td>{{s['surveyTitle']}}</td>
            <td>{{s['surveyDesc']}}</td>
            <td><a href="#" >Archive</a>   <a href="#">Delete</a></td>
          </tr> 
        {% endfor %}

</body>
</table>



{% endblock content %}
