{% extends 'baseLogin.html' %}
{% block content %}
<br>
<br>
 <div class="container">
	<div class="row">
		<div class="col-sm"><a href="{{url_for('login')}}">
			<button type="button" class="btn btn-secondary">Back to Login Page</button></a></div>
		<div class="col-sm"><h1>Update your Password</h1></div>
		<div class="col-sm"></div>
	</div>
</div>

	<br>
	<img src="http://unixweb.kutztown.edu/~csupp511/csc355/testing/images/tms2.png" class="rounded-circle" alt= "TMS">

	<br><br>
	<!-- everything is held within this container for responsiveness-->
<div class="container">
  <div class="page_content">

    <div class= "text-center">

    <form action="{{ url_for('update') }}" method="POST">
        {{ form.csrf_token }}
        {% if form.csrf_token.errors %}
            <h1><strong>You have submitted an invalid CSRF token!</strong></h1>
        {% endif %}
		<div style="display: inline-block; min-width: 13em">
		{{ form.email.label (style="font-size: 1.5em;")}}
		</div>
        {{ form.email }}
        <br>
		<br>
		<div style="display: inline-block; min-width: 13em">
        {{ form.password.label (style="font-size: 1.5em;")}}
		</div>
        {{ form.password }}
        <br>
		<br>
		<div style="display: inline-block; min-width: 13em">
        {{ form.confirm.label (style="font-size: 1.5em;")}}
		</div>
		{{ form.confirm }}
		<div>
        <br>
		<br>
        {{ form.submit (class='btn btn-secondary btn-lg')}}
    </form>
	
	</div>
  </div>
</div>
{% endblock content %}