{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Task Editor</h1>
    </div>

    <div class="container">
        <div class="page_content">
            <div class= "text-center">
                <form method="GET">

                {% for user in users %}
                    <p> {{ user.fname }} {{ user.lname }} </p>
                    {{form.add_task (class='btn btn-secondary btn-sm')}}
                    {{form.show_history (class='btn btn-secondary btn-sm')}}
                    {% for task in tasks %}
                        {{ task.title }}
                        <br>
                    {% endfor %}
                {% endfor %}
                </form>
            </div>

        </div>
    </div><!-- /.container -->
{% endblock content %}