{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>User Assignment</h1>
    </div>

    <div class="container">
        <div class="page_content">
            <div class= "text-center">
                <form method="POST">

                <!-- -->

				<div class="container">
					<div class="row">
						<div class="col-sm">
					<!-- Supervisor Dropdown -->
						<div class="dropdown">
							<button type="button" class="btn btn-secondary btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
								Supervisor
							</button>
							<div class="dropdown-menu col-sm-12 force-scroll">
							        <form class="#">
										<input type="search" class="form-control" id="#" placeholder="Search" autofocus="autofocus">
									</form>
								<a class="dropdown-item" href="#"></a>
								<a class="dropdown-item" href="#"></a>

							</div>
						</div>

							
						</div>
						
						<div class="col-sm-2"></div>
						
						<div class="col-sm">
						<!-- Supervisor Dropdown -->
						<div class="dropdown">
							<button type="button" class="btn btn-secondary btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
								Assign Seniors
							</button>
							<div class="dropdown-menu col-sm-12 force-scroll">
									<form class="#">
										<input type="search" class="form-control" id="#" placeholder="Search" autofocus="autofocus">
									</form>
								<a class="dropdown-item" href="#"></a>
								<a class="dropdown-item" href="#"></a>

							</div>
						</div>
						</div>
					</div>
				</div>
				
				
				
				
				
				
                <!-- -->
                </form>
            </div>

        </div>
    </div><!-- /.container -->
{% endblock content %}


<!--
                {% for user in users %}
                    <p> {{ user.fname }} {{ user.lname }} </p>
                    {{form.add_task (class='btn btn-secondary btn-sm')}}
                    {{form.show_history (class='btn btn-secondary btn-sm')}}
                    {% for task in tasks %}
                        {{ task.title }}
                        {{form.assign (class='btn btn-secondary btn-sm')}}
                        <br>
                    {% endfor %}
                {% endfor %}
-->	
			