{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Task Editor</h1>
    </div>

    <div class="container">
        <div class="page_content">
            <div class= "text-center">
                <!-- -->
                <form method="POST">
                    {{ form.csrf_token() }}
                    {{ form.assigned_users }}<br>
                    {{ form.assign_task_button (class='btn btn-secondary btn-sm') }}
                    {{ form.view_assigned_tasks_button (class='btn btn-secondary btn-sm') }}
                    <br>

{#                        {% if form.add_task.data %}#}
{#                            {% for task in tasks %}#}
{#                                <br>#}
{#                                {{ task.title }}#}
{#                                {{form.assign (class='btn btn-secondary btn-sm')}}#}
{#                                <br>#}
{##}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                        {% if form.show_history.data %}#}
{#                            {% for task in tasks %}#}
{#                                <br>#}
{#                                {{ task.title }}#}
{#                                {{form.remove (class='btn btn-secondary btn-sm')}}#}
{#                                <br>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
                </form>
            </div>

        </div>
    </div><!-- /.container -->
{% endblock content %}